.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.loginContainer {
  display: flex;
  justify-content: center;

  margin-top: 10%;
}

.signupContainer {
  display: flex;
  justify-content: center;

  margin-top: 10%;
}

.navbar-search {
  display: flex;
  width: 1000px;
}

.navbar-home {
  margin-left: 15px;
}

.navbar-profile {
  margin-right: 15px;
}

.dropdown {
  position: relative;
  overflow: visible;
}

.dropdown-menu {
  z-index: 1050;
  position: absolute;
  left: 0;
  right: auto;
}

.postRecipeBanner {
  display: flex;
  justify-content: end;
  margin: 5px 5px 0px 0px;
}

.postRecipeButton {
  outline-style: auto;
  outline-color: grey;
  outline-width: 1px;
}
